{% extends 'base.html.twig' %}

{#{% block title %}Videogame index{% endblock %}#}

{% block body %}
<section class="main container-fluid container-lg">
    <h1 class="text-center my-4">Videogame index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for videogame in videogames %}
            <tr>
                <td>{{ videogame.id }}</td>
                <td>{{ videogame.title }}</td>
                <td>{{ videogame.description }}</td>
                <td>{{ videogame.year }}</td>
                <td>{{ videogame.img }}</td>
                <td>
                    <a href="{{ path('videogame_show', {'id': videogame.id}) }}">show</a>
                    <a href="{{ path('videogame_edit', {'id': videogame.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('videogame_new') }}">Create new</a>#}
</section>
{% endblock %}
